:root {
    --body-title-body-medium-font-family: "Inter-Medium", Helvetica;
    --body-title-body-medium-font-size: 18px;
    --body-title-body-medium-font-style: normal;
    --body-title-body-medium-font-weight: 500;
    --body-title-body-medium-letter-spacing: 0px;
    --body-title-body-medium-line-height: 22px;
}